{% extends 'base.html' %} 

{% block cssextend %}
{% endblock %}

{% block title %}Recipe Management{% endblock %} 

{% block notify %}
{% endblock %}

{% block content %}
	<br>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header bg-primary text-white"><h5><i class="far fa-list-alt"></i>&nbsp; Rib Donation</h5></div>
				<div class="card-body">
					Garrett Smith is accepting free ribs at any time, and for convenience, his address is specified, below:
                    <br> 13631 W 70th Ter
                    <br> Shawnee KS
                    <br> 66216
				</div> <!-- End of card body -->
				<div class="card-footer bg-light">
					<a href="/" class="btn btn-outline-primary" role="button">Got it.</a>
				</div>
			</div> <!-- End of Card -->
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->

<br>
<br>
<br>
{% endblock %}

{% block postcontainer %}
{% endblock %}

{% block scripts %}
{% endblock %}
